.container{
    width: 80%;
    margin: 1% 2% 0 2%;
}

.para{
    font-size: 120%;
    font-weight: 500;
}

.buttons{
    width: 80%;
    margin: 1% 2% 0 2%;
    text-align: center;
}

.btn{
 display: inline-block;
 padding: 15px 40px;
 border-radius: 4px;
 margin-left: 1%;
 border: none;
 background-color:#2c3e50;
 color: #fff;
 cursor: pointer;
}

.output{
    color: #2c3e50;
}

.color-box{
    margin-top: 20px;
    width: 100%;
}

.box{
    display: inline-block;
    width: 23%;
    margin-left: 1%;
    height: 200px;
}

.color1{
    background-color: rgba(155, 89, 182,1.0);
}
.color2{
    background-color: rgba(230, 126, 34,1.0);
}
.color3{
    background-color: rgba(44, 62, 80,1.0);
}
.color4{
    background-color: rgba(39, 174, 96,1.0);
}